$max_width: 82rem;
$max_width2: 62rem;
$max_width3: 42rem;
$max_width4: 23rem;

$bd_r: 0.25rem;

.App[data-theme="dark"] {
  --black: #000000;
  --white: #fafafa;
  --red: #9c1030;
  --blue: #002d82;
  --green: #003900;
  --yellow: #bf9c06;
  --btn: #171b23dd;
  --bg: #00245c;
}

.App[data-theme="light"] {
  --black: #060606;
  --white: #ffffff;
  --red: #e22020;
  --blue: #2270ff;
  --green: #008000;
  --yellow: #efc308;
  --btn: #343c4fdd;
  --bg: #024bc1;
}

$black: var(--black);
$white: var(--white);
$red: var(--red);
$blue: var(--blue);
$green: var(--green);
$yellow: var(--yellow);
$btn: var(--btn);
$bg: var(--bg);

@mixin hideYScroll {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

/* on top of Layout/ribbon */
@mixin page {
  position: relative;
  z-index: 3;
}

@mixin textShadow {
  text-shadow: 1px 1px 1px $black;
}

@mixin boxShadow {
  box-shadow: 1px 1px 1px #00000088;
}

@mixin btnIcon {
  color: $white;
  font-weight: bold;
  font-size: 1.5rem;
  width: 5.5rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
