$max_width: 82rem;
$max_width2: 62rem;
$max_width3: 42rem;
$max_width4: 23rem;

// color
$CTA: #efc308;
$black: #000000;
$white: #ffffff;

$bg_btn: #495479;

$bd_radius: 0.25rem;

@mixin hideYScroll {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@mixin textShadow {
  text-shadow: 1px 1px 1px $black;
}

@mixin boxShadow {
  box-shadow: 1px 2px 2px #00000088;
}
