$max_width: 82rem;
$max_width2: 62rem;
$max_width3: 42rem;
$max_width4: 23rem;

// color
$purple: #816bff;
$green: green;
$blue: #2270ff;
$red: #a60628;
$yellow: #efc308;
$black: #000000;
$white: #ffffff;
$bg_btn: #495479;

$bd_radius: 0.25rem;

// Darkmode
// TODO : dark, light mode color. current version is darkmode.
[data-theme="dark"] {
  color: #3b0707;
  --btn: #343c4f;
  --bg: #000e21;
}

[data-theme="light"] {
  // --btn: #2270ff;
  --btn: #343c4f;
  --bg: #024bc1;
}

$btn: var(--btn);
$bg: var(--bg);
//

@mixin hideYScroll {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@mixin textShadow {
  text-shadow: 1px 1px 1px $black;
}

@mixin boxShadow {
  box-shadow: 1px 1px 1px #00000088;
}

@mixin btnIcon {
  color: $white;
  font-weight: bold;
  font-size: 1.5rem;
  width: 5.5rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
