@use "./__global" as *;

.GameTable {
  position: fixed;
  width: 80vw;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #008000aa;
  .MainCards {
    display: flex;
    justify-content: space-around;
    gap: 0.25rem;
    width: 100%;
    //fix later
    position: absolute;
    left: 0;
    bottom: 1rem;
    .Card {
      cursor: pointer;
      min-width: 5rem;
      max-width: 20rem;
      width: 100%;
      aspect-ratio: 2.5 / 3.5;
      background-color: white;
      border: 1px solid black;
      border-radius: 0.25rem;
      padding: clamp(2rem, 3rem, 4rem);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(8, 1fr);
      align-items: center;
      position: relative;
      transition: transform 300ms;

      &[data-suit="H"],
      &[data-suit="D"] {
        color: red;
      }
      &[data-suit="S"],
      &[data-suit="C"] {
        color: black;
      }

      .hold {
        position: absolute;
        top: -2.5rem;
        right: 0;
        left: 0;
        text-align: center;
        font-size: 2rem;
        color: $black;
        background-color: $CTA;
        // background-color: yellow;
        transition: opacity 300ms;
        &#show {
          opacity: 1;
        }
        &#hide {
          opacity: 0;
        }
      }

      .icon {
        grid-row-end: span 2;
        width: 100%;
        aspect-ratio: 1 / 1;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      .cornerNumber {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: clamp(2rem, 3rem, 4rem);
        &.top {
          top: 0.25rem;
          left: 0.25rem;
        }
        &.bottom {
          bottom: 0.25rem;
          right: 0.25rem;
          transform: rotate(180deg);
        }
        &::after {
          line-height: 0;
          display: block;
          width: 0.7em;
        }
      }
    }
  }
}

//data-suit
[data-suit="H"] .icon {
  background-image: url("../assets/cards/heart.svg");
}

[data-suit="D"] .icon {
  background-image: url("../assets/cards/diamond.svg");
}

[data-suit="S"] .icon {
  background-image: url("../assets/cards/spade.svg");
  filter: brightness(0);
}

[data-suit="C"] .icon {
  background-image: url("../assets/cards/club.svg");
  filter: brightness(0);
}

[data-suit="H"] .cornerNumber::after {
  content: url("../assets/cards/heart.svg");
}

[data-suit="S"] .cornerNumber::after {
  content: url("../assets/cards/spade.svg");
}

[data-suit="C"] .cornerNumber::after {
  content: url("../assets/cards/club.svg");
}

[data-suit="D"] .cornerNumber::after {
  content: url("../assets/cards/diamond.svg");
}

//data-value
[data-value="J"] .icon {
  background-image: url("../assets/cards/jack-red.svg");
}

[data-value="Q"] .icon {
  background-image: url("../assets/cards/queen-red.svg");
}

[data-value="K"] .icon {
  background-image: url("../assets/cards/king-red.svg");
}

[data-value="A"] .icon,
[data-value="J"] .icon,
[data-value="Q"] .icon,
[data-value="K"] .icon {
  grid-row-start: 4;
  grid-column-end: span 3;
}

[data-value="2"] .icon {
  &:first-child {
    grid-row-start: 1;
    grid-column-start: 2;
  }
  &:nth-child(2) {
    grid-row-start: 7;
    grid-column-start: 2;
    transform: rotate(180deg);
  }
}

[data-value="3"] .icon {
  &:first-child {
    grid-row-start: 1;
    grid-column-start: 2;
  }
  &:nth-child(2) {
    grid-row-start: 4;
    grid-column-start: 2;
  }
  &:nth-child(3) {
    grid-row-start: 7;
    grid-column-start: 2;
    transform: rotate(180deg);
  }
}

[data-value="4"] .icon {
  &:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  &:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 3;
  }
  &:nth-child(3) {
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
  }
  &:nth-child(4) {
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
  }
}

[data-value="5"] .icon {
  &:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  &:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 3;
  }
  &:nth-child(3) {
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
  }
  &:nth-child(4) {
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
  }
  &:nth-child(5) {
    grid-row-start: 4;
    grid-column-start: 2;
  }
}

[data-value="6"] .icon {
  &:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  &:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 3;
  }
  &:nth-child(3) {
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
  }
  &:nth-child(4) {
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
  }
  &:nth-child(5) {
    grid-row-start: 4;
    grid-column-start: 1;
  }
  &:nth-child(6) {
    grid-row-start: 4;
    grid-column-start: 3;
  }
}

[data-value="7"] .icon {
  &:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  &:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 3;
  }
  &:nth-child(3) {
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
  }
  &:nth-child(4) {
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
  }
  &:nth-child(5) {
    grid-row-start: 4;
    grid-column-start: 1;
  }
  &:nth-child(6) {
    grid-row-start: 4;
    grid-column-start: 3;
  }
  &:nth-child(7) {
    grid-row-start: 2;
    grid-column-start: 2;
  }
}

[data-value="8"] .icon {
  &:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  &:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 3;
  }
  &:nth-child(3) {
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
  }
  &:nth-child(4) {
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
  }
  &:nth-child(5) {
    grid-row-start: 4;
    grid-column-start: 1;
  }
  &:nth-child(6) {
    grid-row-start: 4;
    grid-column-start: 3;
  }
  &:nth-child(7) {
    grid-row-start: 2;
    grid-column-start: 2;
  }
  &:nth-child(8) {
    grid-row-start: 6;
    grid-column-start: 2;
    transform: rotate(180deg);
  }
}

[data-value="9"] .icon {
  &:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  &:nth-child(2) {
    grid-row-start: 3;
    grid-column-start: 1;
  }
  &:nth-child(3) {
    grid-row-start: 5;
    grid-column-start: 1;
    transform: rotate(180deg);
  }
  &:nth-child(4) {
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
  }
  &:nth-child(5) {
    grid-row-start: 1;
    grid-column-start: 3;
  }
  &:nth-child(6) {
    grid-row-start: 3;
    grid-column-start: 3;
  }
  &:nth-child(7) {
    grid-row-start: 5;
    grid-column-start: 3;
    transform: rotate(180deg);
  }
  &:nth-child(8) {
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
  }
  &:nth-child(9) {
    grid-row-start: 4;
    grid-column-start: 2;
  }
}

[data-value="T"] .icon {
  & :first-child {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  &:nth-child(2) {
    grid-row-start: 3;
    grid-column-start: 1;
  }
  &:nth-child(3) {
    grid-row-start: 5;
    grid-column-start: 1;
    transform: rotate(180deg);
  }
  &:nth-child(4) {
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
  }
  &:nth-child(5) {
    grid-row-start: 1;
    grid-column-start: 3;
  }
  &:nth-child(6) {
    grid-row-start: 3;
    grid-column-start: 3;
  }
  &:nth-child(7) {
    grid-row-start: 5;
    grid-column-start: 3;
    transform: rotate(180deg);
  }
  &:nth-child(8) {
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
  }
  &:nth-child(9) {
    grid-row-start: 2;
    grid-column-start: 2;
  }
  &:nth-child(10) {
    grid-row-start: 6;
    grid-column-start: 2;
    transform: rotate(180deg);
  }
}

@media (max-width: 800px) {
  .GameTable {
    background-color: purple;
  }
}
