@use "./__global" as *;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* normalize */
a,
li {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

// global

#disabled {
  filter: grayscale(10);
}
