@use "./__global" as *;

.ListItem {
  $skew: 6deg;
  position: relative;
  border-radius: $bd_r;
  background-color: #00000066;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 8rem;
  flex: 1fr;
  height: 2.5rem;
  transform: skew(-($skew));
  & > * {
    transform: skew($skew);
  }
  .label {
    position: absolute;
    top: -1rem;
    font-size: 0.75rem;
    color: $white;
    white-space: normal;
    @include textShadow;
  }
  .icon {
    position: absolute;
    top: 0rem;
    left: -1.25rem;
    font-size: 1.25rem;
    height: 2.5rem;
  }
  .text {
    color: $white;
    font: 1rem;
  }
}
