@use "./__global" as *;

.LottieImage {
  pointer-events: none;
  div {
    // todo: fix later. this is for confetti only
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
