@use "./__global" as *;

.Menu {
  .menuBtn {
    position: fixed;
    top: 0.5rem;
    right: 1rem;
    z-index: 99;
    .faBars {
      color: $white;
      padding: 0.5rem 1rem;
    }
  }
  .menuItems {
    z-index: 8;
    height: 100vh;
    width: 12rem;
    position: fixed;
    right: -5rem;
    flex-direction: column;
    transform: skew(-4deg);
    padding: 4rem 18rem 1rem 2rem;
    background-color: $black;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .ListBtn {
      margin-bottom: 1rem;
      .wrapper {
        position: relative;
        color: $white;
        text-align: left;
        min-width: 10rem;
        .icon {
          position: absolute;
          top: 0.75rem;
          left: -0.5rem;
          font-size: 1.25rem;
        }
        .text {
          padding: 1rem 2rem;
        }
      }
    }
  }
}
