@use "../__global" as *;

@mixin border {
  border: 1px solid $black;
  border-radius: $bd_radius;
}

.Card {
  width: 100%;
  max-width: 12rem;
  aspect-ratio: 2.5 / 3.5;
  position: relative;
  transform-style: preserve-3d;

  &#flipFront {
    animation: flip 700ms forwards;
  }
  &#flipBack {
    animation: flip2 700ms forwards;
  }
  &.noClick {
    pointer-events: none;
  }
  &[data-suit="H"],
  &[data-suit="D"] {
    color: red;
  }
  &[data-suit="S"],
  &[data-suit="C"] {
    color: black;
  }
  &[data-suit="X"] {
    .front {
      .icon,
      .cornerNumber {
        display: none;
      }
    }
    .hold {
      display: none;
    }
  }

  .back {
    cursor: auto;
    @include border();
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
    background-image: url("https://images.cdn2.stockunlimited.net/illustration/playing-cards-background_1608080.png");
    background-position: top right;
    background-repeat: repeat;
  }
  .front {
    @include border();
    cursor: pointer;
    transform: rotateY(-180deg);
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    align-items: center;
    backface-visibility: hidden;
    background-color: $white;
    z-index: 1;
    .icon {
      grid-row-end: span 2;
      width: 100%;
      aspect-ratio: 1 / 1;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .cornerNumber {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      &.top {
        top: 0.25rem;
        left: 0.25rem;
      }
      &.bottom {
        bottom: 0.25rem;
        right: 0.25rem;
        transform: rotate(180deg);
      }
      &::after {
        line-height: 0;
        display: block;
        width: 0.7em;
      }
    }
  }
  .hold {
    transform: rotateY(180deg);
    position: absolute;
    top: -2.5rem;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 2rem;
    color: $black;
    background-color: $yellow;
    transition: opacity 300ms;
    &#show {
      opacity: 1;
    }
    &#hide {
      opacity: 0;
    }
  }
}

[data-suit="H"] .icon {
  background-image: url("../../assets/cards/heart.svg");
}

[data-suit="D"] .icon {
  background-image: url("../../assets/cards/diamond.svg");
}

[data-suit="S"] .icon {
  background-image: url("../../assets/cards/spade.svg");
  filter: brightness(0);
}

[data-suit="C"] .icon {
  background-image: url("../../assets/cards/club.svg");
  filter: brightness(0);
}

[data-suit="H"] .cornerNumber::after {
  content: url("../../assets/cards/heart.svg");
}

[data-suit="S"] .cornerNumber::after {
  content: url("../../assets/cards/spade.svg");
}

[data-suit="C"] .cornerNumber::after {
  content: url("../../assets/cards/club.svg");
}

[data-suit="D"] .cornerNumber::after {
  content: url("../../assets/cards/diamond.svg");
}

//data-value
[data-value="J"] .icon {
  background-image: url("../../assets/cards/jack.svg");
}

[data-value="Q"] .icon {
  background-image: url("../../assets/cards/queen.svg");
}

[data-value="K"] .icon {
  background-image: url("../../assets/cards/king.svg");
}

[data-value="A"] .icon,
[data-value="J"] .icon,
[data-value="Q"] .icon,
[data-value="K"] .icon {
  grid-row-start: 4;
  grid-column-end: span 3;
}

[data-value="2"] .icon {
  &:nth-child(1) {
    grid-row-start: 1;
    grid-column-start: 2;
  }
  // bug quick fix
  &:nth-child(3) {
    grid-row-start: 1;
    grid-column-start: 2;
  }
  &:nth-child(2) {
    grid-row-start: 7;
    grid-column-start: 2;
    transform: rotate(180deg);
  }
}

[data-value="3"] .icon {
  &:nth-child(1) {
    grid-row-start: 1;
    grid-column-start: 2;
  }
  // bug quick fix
  &:nth-child(4) {
    grid-row-start: 1;
    grid-column-start: 2;
  }
  &:nth-child(2) {
    grid-row-start: 4;
    grid-column-start: 2;
  }
  &:nth-child(3) {
    grid-row-start: 7;
    grid-column-start: 2;
    transform: rotate(180deg);
  }
}

[data-value="4"] .icon {
  &:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  &:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 3;
  }
  &:nth-child(3) {
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
  }
  &:nth-child(4) {
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
  }
}

[data-value="5"] .icon {
  &:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  &:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 3;
  }
  &:nth-child(3) {
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
  }
  &:nth-child(4) {
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
  }
  &:nth-child(5) {
    grid-row-start: 4;
    grid-column-start: 2;
  }
}

[data-value="6"] .icon {
  &:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  &:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 3;
  }
  &:nth-child(3) {
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
  }
  &:nth-child(4) {
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
  }
  &:nth-child(5) {
    grid-row-start: 4;
    grid-column-start: 1;
  }
  &:nth-child(6) {
    grid-row-start: 4;
    grid-column-start: 3;
  }
}

[data-value="7"] .icon {
  &:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  &:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 3;
  }
  &:nth-child(3) {
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
  }
  &:nth-child(4) {
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
  }
  &:nth-child(5) {
    grid-row-start: 4;
    grid-column-start: 1;
  }
  &:nth-child(6) {
    grid-row-start: 4;
    grid-column-start: 3;
  }
  &:nth-child(7) {
    grid-row-start: 2;
    grid-column-start: 2;
  }
}

[data-value="8"] .icon {
  &:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  &:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 3;
  }
  &:nth-child(3) {
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
  }
  &:nth-child(4) {
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
  }
  &:nth-child(5) {
    grid-row-start: 4;
    grid-column-start: 1;
  }
  &:nth-child(6) {
    grid-row-start: 4;
    grid-column-start: 3;
  }
  &:nth-child(7) {
    grid-row-start: 2;
    grid-column-start: 2;
  }
  &:nth-child(8) {
    grid-row-start: 6;
    grid-column-start: 2;
    transform: rotate(180deg);
  }
}

[data-value="9"] .icon {
  &:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  &:nth-child(2) {
    grid-row-start: 3;
    grid-column-start: 1;
  }
  &:nth-child(3) {
    grid-row-start: 5;
    grid-column-start: 1;
    transform: rotate(180deg);
  }
  &:nth-child(4) {
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
  }
  &:nth-child(5) {
    grid-row-start: 1;
    grid-column-start: 3;
  }
  &:nth-child(6) {
    grid-row-start: 3;
    grid-column-start: 3;
  }
  &:nth-child(7) {
    grid-row-start: 5;
    grid-column-start: 3;
    transform: rotate(180deg);
  }
  &:nth-child(8) {
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
  }
  &:nth-child(9) {
    grid-row-start: 4;
    grid-column-start: 2;
  }
}

[data-value="T"] .icon {
  & :first-child {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  &:nth-child(2) {
    grid-row-start: 3;
    grid-column-start: 1;
  }
  &:nth-child(3) {
    grid-row-start: 5;
    grid-column-start: 1;
    transform: rotate(180deg);
  }
  &:nth-child(4) {
    grid-row-start: 7;
    grid-column-start: 1;
    transform: rotate(180deg);
  }
  &:nth-child(5) {
    grid-row-start: 1;
    grid-column-start: 3;
  }
  &:nth-child(6) {
    grid-row-start: 3;
    grid-column-start: 3;
  }
  &:nth-child(7) {
    grid-row-start: 5;
    grid-column-start: 3;
    transform: rotate(180deg);
  }
  &:nth-child(8) {
    grid-row-start: 7;
    grid-column-start: 3;
    transform: rotate(180deg);
  }
  &:nth-child(9) {
    grid-row-start: 2;
    grid-column-start: 2;
  }
  &:nth-child(10) {
    grid-row-start: 6;
    grid-column-start: 2;
    transform: rotate(180deg);
  }
}

@media screen and (max-width: $max_width2) {
  .Card {
    padding: 0;
    .hold {
      top: -2rem;
      font-size: 1.5rem;
    }
    .front {
      padding: 1.5rem;
      .icon {
        display: none;
      }
      .cornerNumber {
        font-size: 10vmin;
        &.top {
          top: 0.25rem;
          left: 0.25rem;
          right: 0.25rem;
          bottom: 0.25rem;
        }
        &.bottom {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: $max_width3) {
  .Card {
    .hold {
      top: -1.25rem;
      font-size: 1rem;
    }
  }
}

@keyframes flip {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

@keyframes flip2 {
  from {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  to {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
}
