@use "../__global" as *;

.PokerTable {
  position: fixed;
  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 1rem 5rem 1rem;
  .MultiTable {
    flex: 9;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    // background-color: #ffffff44;
    max-height: 80vh;
    flex-wrap: wrap;
    @include hideYScroll;
    margin-top: 2rem;
    .smallTable {
      @include boxShadow;
      min-width: 11%;
      flex: 1;
      background-color: #ffffff33;
      // border: 1px solid red;
      border-radius: $bd_radius;
      padding: 0.5rem 1rem;
      gap: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .Card {
        opacity: 0;
        background-color: red;
        .front {
          opacity: 0;
          background-color: red;
        }
      }
    }
  }
  .MainTable {
    @include boxShadow;
    flex: 1;
    margin: 0 auto;
    border-radius: $bd_radius;
    max-width: 1000px;
    width: 100%;
    background-color: #ffffff55;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem 1rem;
    position: relative;
  }
  .Result {
    color: $white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    &#show {
      animation: appear 300ms 200ms forwards;
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 250rem) {
  .PokerTable {
    .MultiTable {
      .smallTable {
        min-width: 20%;
      }
    }
  }
}
@media screen and (max-width: 120rem) {
  .PokerTable {
    .MultiTable {
      .smallTable {
        min-width: 40%;
      }
    }
  }
}

@media screen and (max-width: 60rem) {
  .PokerTable {
    .MultiTable {
      .smallTable {
        min-width: 80%;
      }
    }
  }
}
