@use "../__global" as *;

.PokerTable {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 5rem 1rem 5rem 1rem;
  .MultiTable {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 0.5rem;
    max-height: 80vh;
    @include hideYScroll;
    margin-top: 2rem;
    .smallTable {
      @include boxShadow;
      background-color: #ffffff55;
      border-radius: $bd_r;
      padding: 1rem 0.5rem;
      gap: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .Card {
        opacity: 0;
        background-color: red;
        .front {
          opacity: 0;
          background-color: red;
        }
      }
    }
  }
  .MainTable {
    @include boxShadow;
    margin: 0 auto;
    border-radius: $bd_r;
    width: 100%;
    background-color: #ffffff55;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 2.5rem 1rem 1rem;
    position: relative;
  }
  .Result {
    color: $white;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    &#show {
      animation: appear 300ms 200ms forwards;
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: $max_width3) {
  .PokerTable {
    padding-top: 3.5rem;
  }
}
