@use "../__global" as *;

.Total {
  position: fixed;
  bottom: 1rem;
  left: 2rem;
  display: flex;
  gap: 2rem;
  cursor: pointer;
  .ribbon {
    position: fixed;
    inset: 40% 0 auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #00000099;
    width: 100%;
    padding: 1rem;
    color: $white;
    font-weight: bold;
    font-size: 2rem;
    pointer-events: none;
    transition: opacity 300ms;
    &#show {
      opacity: 1;
    }
    &#hide {
      opacity: 0;
    }
  }
}

.Window {
  z-index: 9999;
  @include boxShadow;
  position: fixed;
  inset: 2rem;
  max-width: 50rem;
  max-height: 50rem;
  margin: auto;
  background-color: #258cf5;
  display: flex;
  flex-direction: column;
  header {
    // background-color: lightblue;
    border-bottom: 0.25rem solid #045cb3;
    padding: 1rem;
    position: relative;
    .title {
      @include textShadow;
      color: $white;
      text-align: center;
      font-size: 2rem;
    }
    .closeBtn {
      height: 0;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 2rem;
      bottom: 0;
      right: -1rem;
      .xIcon {
        color: $white;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0.5rem 1rem;
      }
    }
  }
  section {
    background-color: #105ce5;
    flex: 1;
    border-top: 0.125rem solid #033896;
    border-bottom: 0.125rem solid #0b50c9;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    @include hideYScroll;

    .PayTable {
      width: 100%;
      @include textShadow;
      color: $white;
      max-width: 40rem;
      text-align: center;
      padding: 0 1rem;
      border: 0.25rem solid #0b50c9;
      background-color: #033896;
      border-spacing: 1rem;
      font-size: 1rem;
    }
    ul {
      padding: 0.75rem;
      max-width: 40rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem 4rem;
    }
  }
}

@media screen and (max-width: $max_width4) {
  .Window {
    left: 0.5rem;
    right: 0.5rem;
    header {
      .title {
        font-size: 1rem;
      }
      .closeBtn {
        .xIcon {
          font-size: 1rem;
        }
      }
    }
    section {
      padding: 0;
      .PayTable {
        padding: 0 0.5rem;
        font-size: 0.75rem;
      }
    }
  }
}
